{
	"parser": "@typescript-eslint/parser",
	"parserOptions": {
		"jsx": true,
		"useJSXTextNode": true,
		"ecmaVersion": 2021,
		"sourceType": "module",
		"project": ["tsconfig.json", "tests/tsconfig.json"]
	},
	"plugins": ["@typescript-eslint", "@typescript-eslint/eslint-plugin", "prettier", "simple-import-sort"],
	"extends": [
		"eslint:recommended",
		"plugin:@typescript-eslint/recommended",
		"prettier/@typescript-eslint",
		"plugin:prettier/recommended"
	],
	"rules": {
		"@typescript-eslint/array-type": [
			"warn",
			{
				"default": "generic",
				"readonly": "generic"
			}
		],
		"@typescript-eslint/explicit-member-accessibility": "warn",
		"@typescript-eslint/no-misused-promises": "error",
		"@typescript-eslint/no-unused-expressions": "warn",
		"@typescript-eslint/no-unused-vars": "off",
		"@typescript-eslint/no-namespace": "off",
		"@typescript-eslint/no-non-null-assertion": "off",
		"@typescript-eslint/strict-boolean-expressions": "warn",
		"class-methods-use-this": "warn",
		"curly": ["warn", "multi-line", "consistent"],
		"no-constant-condition": "off",
		"prefer-const": "warn",
		"prettier/prettier": "warn",
		"simple-import-sort/imports": "warn",
		"simple-import-sort/exports": "warn",
		"require-await": "warn"
	}
}
